.container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.header {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    animation: fadeIn 1s;
}

.subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.input-box {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select-box{
    width: 517px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;


}

.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}